/decompiler/instruction-encoding.tex
/decompiler/parser.tex
/decompiler/top-level-parser.tex
/decompiler/fancyhdr-settings.tex
/decompiler/mips-risc-and-cisc.tex
/decompiler/mnemonic-decoding.tex
/decompiler/references.bib
/decompiler/mul-decomposed.tikz
/decompiler/j-type-format-bit-fields.tikz
/decompiler/mips.sty
/decompiler/numeric-decoding.tex
/decompiler/kotlin.tex
/decompiler/registers.tex
/decompiler/r-decomposed.tikz
/decompiler/technical-background.tex
/decompiler/titlepage.tex
/decompiler/mips-register-naming-and-usage-convention.tex
/decompiler/r-type-format-bit-fields.tikz
/decompiler/i-type-format-bit-fields.tikz
/decompiler/preamble.tex
/simulator/instruction-encoding.tex
/simulator/parser.tex
/simulator/top-level-parser.tex
/simulator/fancyhdr-settings.tex
/simulator/mips-risc-and-cisc.tex
/simulator/mnemonic-decoding.tex
/simulator/references.bib
/simulator/mul-decomposed.tikz
/simulator/j-type-format-bit-fields.tikz
/simulator/mips.sty
/simulator/numeric-decoding.tex
/simulator/kotlin.tex
/simulator/registers.tex
/simulator/r-decomposed.tikz
/simulator/technical-background.tex
/simulator/titlepage.tex
/simulator/mips-register-naming-and-usage-convention.tex
/simulator/r-type-format-bit-fields.tikz
/simulator/i-type-format-bit-fields.tikz
/simulator/preamble.tex
